<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
	<meta charset="UTF-8">
	<meta content="width=device-width, initial-scale=1.0" name="viewport">
	<meta content="Space couple finance" name="description"/>
	<link rel="shortcut icon" href="https://www.pngarts.com/files/3/Letter-N-Free-PNG-Image.png">
	<link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
		  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" rel="stylesheet">
	<title>Space couple finance</title>
</head>
<style>
	body{
        width: auto;
        margin-left: auto;
        margin-right: auto;
	}
    #container {
        width: auto;
        margin-left: auto;
        margin-right: auto;
    }
	#navbar{
		color: white;
		background-color: black;
	}
    input[type=radio]:checked + label:before {
        color: #de0f0f;
        line-height: 15px;
    }
    #navi2 {
        padding: 10px;
    }

    #welcome {
		clear: both;
        size: 40px;
    }
	#card-body{
		padding: 20px;
	}
	#card{
		padding: 10px;
        margin-left: auto;
        margin-right: auto;
	}
	#card-1 {
        float: left;
        width: 600px;
		height: 550px;
        margin-left: auto;
        margin-right: auto;
        background-color: #0f202f;
        color: white;
        padding: 20px 30px;
	}
	#card-2 {
        float: left;
        width: 600px;
        height: 550px;
        margin-left: auto;
        margin-right: auto;
        background-color: #0f202f;
		color: white;
        padding: 20px 30px;
	}
    #card-3 {
        float: left;
        width: 600px;
        height: 550px;
        margin-left: auto;
        margin-right: auto;
        background-color: #0f202f;
        color: white;
        padding: 20px 30px;
    }
    .card h3 {
        padding: 2px;
        margin: 8px 0;
    }
    .card {
        border: 1px solid #dadada;
        box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.2);
        transition: 0.2s;
        width: 50%;
    }
    .image {
        width:100%;
        clip-path: polygon(0 0, 100% 0, 100% 42%, 0 33%);
    }
    .card:hover {
        box-shadow: 8px 8px 16px 0 rgba(0, 0, 0, 0.2);
    }
    legend {
        color: chocolate;
        text-decoration: black;
        font-size: 24px;
    }
    .report a:link{
	cursor: pointer;

}
    #report a:visited{
        cursor: pointer;

    }
    #report a:hover{
        cursor: pointer;

    }
</style>
<body>
<main>
<nav id="navbar" class="navbar navbar-expand-lg navbar-dark bg-dark">
	<a class="navbar-brand" href="#">Space Family Finance</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarNavDropdown">
		<ul class="navbar-nav">
			<li class="nav-item active">
				<a class="nav-link" th:href="@{/index}"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house-door" viewBox="0 0 16 16">
					<path d="M8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4.5a.5.5 0 0 0 .5-.5v-4h2v4a.5.5 0 0 0 .5.5H14a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146zM2.5 14V7.707l5.5-5.5 5.5 5.5V14H10v-4a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v4H2.5z"/>
				</svg> Home <span class="sr-only">(current)</span></a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">Info</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="https://github.com/KamilAdd-Byte/space-finance">GitHub</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" th:href="@{/finance}">My Finance</a>
			</li>
		</ul>
	</div>
</nav>
<div id="container">
	<div id="navi2">
		<div class="container-fluid">
			<a class="btn btn-outline-primary" th:href="@{/index}"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house-door" viewBox="0 0 16 16">
				<path d="M8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4.5a.5.5 0 0 0 .5-.5v-4h2v4a.5.5 0 0 0 .5.5H14a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146zM2.5 14V7.707l5.5-5.5 5.5 5.5V14H10v-4a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v4H2.5z"/>
			</svg>Home</a>
		</div>
	</div>
	<!--	tu navi zaczyna się trzy karty - shop, car i podróż-->
<div id="card">
	<div class="card" id="card-1">
		<div class="card-body" id="card-body">
			<img src="https://wartoszkolic.pl/wp-content/uploads/2019/10/Canva-Vegetables-Stall.jpg" alt="Avatar" class='image'>
				<h5 class="card-title"><b>Shopping couple expenses</b></h5>
				<p class="card-text">You added the receipt on your application. Couples expenses in one place.</p>
				<span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="Strefa wydatków w sklepach"><a class="btn btn-outline-primary" th:href="@{/paragon}"><svg class="bi bi-basket2" fill="currentColor" height="16" viewBox="0 0 16 16" width="16"
																				  xmlns="http://www.w3.org/2000/svg">
					<path d="M4 10a1 1 0 0 1 2 0v2a1 1 0 0 1-2 0v-2zm3 0a1 1 0 0 1 2 0v2a1 1 0 0 1-2 0v-2zm3 0a1 1 0 1 1 2 0v2a1 1 0 0 1-2 0v-2z"/>
					<path d="M5.757 1.071a.5.5 0 0 1 .172.686L3.383 6h9.234L10.07 1.757a.5.5 0 1 1 .858-.514L13.783 6H15.5a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-.623l-1.844 6.456a.75.75 0 0 1-.722.544H3.69a.75.75 0 0 1-.722-.544L1.123 8H.5a.5.5 0 0 1-.5-.5v-1A.5.5 0 0 1 .5 6h1.717L5.07 1.243a.5.5 0 0 1 .686-.172zM2.163 8l1.714 6h8.246l1.714-6H2.163z"/>
				</svg>Shop space</a></span>

		</div>
	</div>
	<div class="card" id="card-2" >
		<div class="card-body">
			<img src="https://kursy-rachunkowosci.pl/blog/wp-content/uploads/2021/07/WYDATKI-NA-SAMOCHODY-A-VAT-Mentoris-1.jpg" alt="Avatar" class='image'>
			<h5 class="card-title"><b>Space on your car expenses</b></h5>
			<p class="card-text">Controlling expenses on your car. Refueling, care and accessories on
				car.</p>
			<span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="Strefa wydatków samochodowych"><a class="btn btn-outline-primary" th:href="@{/carExpenses}"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-key-fill" viewBox="0 0 16 16">
				<path d="M3.5 11.5a3.5 3.5 0 1 1 3.163-5H14L15.5 8 14 9.5l-1-1-1 1-1-1-1 1-1-1-1 1H6.663a3.5 3.5 0 0 1-3.163 2zM2.5 9a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
			</svg>Car space</a></span>
		</div>
	</div>
	<div class="card" id="card-3" >
		<div class="card-body">
			<img src="https://www.polishtravel.com.pl/wp-content/uploads/2021/08/Bez-nazwy-1-1500x630.jpg" alt="Avatar" class='image'>
			<h5 class="card-title"><b>Space on your couple travels</b></h5>
			<p class="card-text">Controlling expenses on your travels. Add numbers days of yours travel. Travel list</p>
			<span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="Wydatki związane z podróżami"><a class="btn btn-outline-primary" th:href="@{/travel}"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bicycle" viewBox="0 0 16 16">
				<path d="M4 4.5a.5.5 0 0 1 .5-.5H6a.5.5 0 0 1 0 1v.5h4.14l.386-1.158A.5.5 0 0 1 11 4h1a.5.5 0 0 1 0 1h-.64l-.311.935.807 1.29a3 3 0 1 1-.848.53l-.508-.812-2.076 3.322A.5.5 0 0 1 8 10.5H5.959a3 3 0 1 1-1.815-3.274L5 5.856V5h-.5a.5.5 0 0 1-.5-.5zm1.5 2.443l-.508.814c.5.444.85 1.054.967 1.743h1.139L5.5 6.943zM8 9.057L9.598 6.5H6.402L8 9.057zM4.937 9.5a1.997 1.997 0 0 0-.487-.877l-.548.877h1.035zM3.603 8.092A2 2 0 1 0 4.937 10.5H3a.5.5 0 0 1-.424-.765l1.027-1.643zm7.947.53a2 2 0 1 0 .848-.53l1.026 1.643a.5.5 0 1 1-.848.53L11.55 8.623z"/>
			</svg>Travel space</a></span>
		</div>
	</div>
</div>
		<!--	welcome-->
			<div class="jumbotron" id="welcome">
				<h3 class="display-6"><svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" fill="currentColor" class="bi bi-cash-coin" viewBox="0 0 16 16">
					<path fill-rule="evenodd" d="M11 15a4 4 0 1 0 0-8 4 4 0 0 0 0 8zm5-4a5 5 0 1 1-10 0 5 5 0 0 1 10 0z"/>
					<path d="M9.438 11.944c.047.596.518 1.06 1.363 1.116v.44h.375v-.443c.875-.061 1.386-.529 1.386-1.207 0-.618-.39-.936-1.09-1.1l-.296-.07v-1.2c.376.043.614.248.671.532h.658c-.047-.575-.54-1.024-1.329-1.073V8.5h-.375v.45c-.747.073-1.255.522-1.255 1.158 0 .562.378.92 1.007 1.066l.248.061v1.272c-.384-.058-.639-.27-.696-.563h-.668zm1.36-1.354c-.369-.085-.569-.26-.569-.522 0-.294.216-.514.572-.578v1.1h-.003zm.432.746c.449.104.655.272.655.569 0 .339-.257.571-.709.614v-1.195l.054.012z"/>
					<path d="M1 0a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h4.083c.058-.344.145-.678.258-1H3a2 2 0 0 0-2-2V3a2 2 0 0 0 2-2h10a2 2 0 0 0 2 2v3.528c.38.34.717.728 1 1.154V1a1 1 0 0 0-1-1H1z"/>
					<path d="M9.998 5.083 10 5a2 2 0 1 0-3.132 1.65 5.982 5.982 0 0 1 3.13-1.567z"/>
				</svg> Welcome to Space finance! </h3>
				<h4 class="display-6">This application is programmed for two people (couple). You have the option to save expenses in the store or while refueling your car. With this application you will see how your expenses are distributed</h4>
				<div class="alert alert-warning" role="alert">
					<p class="lead"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-shield-check" viewBox="0 0 16 16">
						<path d="M5.338 1.59a61.44 61.44 0 0 0-2.837.856.481.481 0 0 0-.328.39c-.554 4.157.726 7.19 2.253 9.188a10.725 10.725 0 0 0 2.287 2.233c.346.244.652.42.893.533.12.057.218.095.293.118a.55.55 0 0 0 .101.025.615.615 0 0 0 .1-.025c.076-.023.174-.061.294-.118.24-.113.547-.29.893-.533a10.726 10.726 0 0 0 2.287-2.233c1.527-1.997 2.807-5.031 2.253-9.188a.48.48 0 0 0-.328-.39c-.651-.213-1.75-.56-2.837-.855C9.552 1.29 8.531 1.067 8 1.067c-.53 0-1.552.223-2.662.524zM5.072.56C6.157.265 7.31 0 8 0s1.843.265 2.928.56c1.11.3 2.229.655 2.887.87a1.54 1.54 0 0 1 1.044 1.262c.596 4.477-.787 7.795-2.465 9.99a11.775 11.775 0 0 1-2.517 2.453 7.159 7.159 0 0 1-1.048.625c-.28.132-.581.24-.829.24s-.548-.108-.829-.24a7.158 7.158 0 0 1-1.048-.625 11.777 11.777 0 0 1-2.517-2.453C1.928 10.487.545 7.169 1.141 2.692A1.54 1.54 0 0 1 2.185 1.43 62.456 62.456 0 0 1 5.072.56z"/>
						<path d="M10.854 5.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 7.793l2.646-2.647a.5.5 0 0 1 .708 0z"/>
					</svg>login on guests: user, password: user</p>
				</div>
				<hr class="my-5">
				<p>Check yours report on expenses. Space Finance is an application designed for couples who would like to have an insight into their
					expenses home-type shopping, expenses car or trip planning.</p>
				<p class="lead">
					<span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="Wyświetla pełen raport wszystkich wydatków"><a class="btn btn-danger btn-lg" role="button" th:href="@{/finance}"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-bar-graph" viewBox="0 0 16 16">
						<path d="M10 13.5a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-6a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v6zm-2.5.5a.5.5 0 0 1-.5-.5v-4a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-.5.5h-1zm-3 0a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5h-1z"/>
						<path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5v2z"/>
					</svg>Report</a></span>
				</p>
			</div>
	<footer class="page-footer font-small white">
		<!-- Copyright -->
		<div class="footer-copyright text-center py-3">© 2021 Copyright:
			<a href="https://github.com/KamilAdd-Byte/space-finance"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
				<path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
			</svg> Space-Finance project by KamilAdd-Byte</a>
		</div>
		<!-- Copyright -->
	</footer>
	<!-- Footer -->
</div>
</main>
</body>
</html>

